*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 2em;
    padding: 1em;
    font-family: 'Fira Mono';
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
}
.header{
    background-image: url("../img/fondo.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Passion One';
    font-size: 60px;
    width: 100%;
    height: 600px;
    background-color: #F2E2CE;
}
.h1{
    display: flex;
    justify-content: center;
}
.h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: #F2E2CE;
    font-family: 'Passion One';
    font-size: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    row-gap: 0.25em;
    column-gap: 0.5em;

}
img{
    width: 100%;
    height: auto;
}
.imgrevista, .imgcd, .imgaceite, .imgtriptico{
    overflow: hidden;
}
.imgrevista{
    grid-column: 1/11;
    grid-row: 2/8;
}
.imgcd{
    grid-column: 1/4;
    grid-row: 8/17;
}
.imgaceite{
    grid-column: 4/11;
    grid-row: 8/17;
}
.imgtriptico{
    grid-column: 1/11;
    grid-row: 11/30;
    margin-top: 1%;
}
.about{
    background-color: #F2E2CE;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 0.25em;
    column-gap: 0.5em;
}
.imgautorretrato{
    grid-column: 1/5;
    grid-row: 1/15;
}
h3{
    font-family: 'Passion One';
    font-size:  4em;
    grid-column: 6/9;
    grid-row: 3/11;
}
.texto{
    grid-column: 6/9;
    grid-row: 4/10;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 2em;
    padding: 1em;
    color: #ffffff;
    font-family: 'Fira Mono';
    font-size: 1em;
}
